
/* Footer Style*/
.footer-container {
    background: url('../images/banner_1.jpg');
    background-size: cover;
    margin-top: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #f8e9e9;
}

.footer-container {
    color: #000000;
}

.footer-container .text-white {
    color: #000000 !important;
}

.footer-container .hover-link a:hover {
    color: #000000 !important; 
}

.footer-container a {
    color: #000000;
}

.footer-container a:hover {
    color: #c8ff00 !important;
}

