header {
    background-color: #d70018;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav .navbar-brand img {
    height: 50px;
}

.search-bar input {
    padding: 5px;
    width: 300px;
}